<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
    <meta name="csrf-token" content=<%= csrfToken %>>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/expense-manager.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container-fluid">
      <div class="row">
        <%- include('panel'); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4"><%= title %></h1>
          <br>
          <form>
            <label for="property-select" class="select ui-select">Property:</label>
            <select class="form-select" name="select-native-1" id="property-select">
              <option value="1">Select Property</option>
            </select>
            <br>
            <label for="unit-select" class="select ui-select">Unit:</label>
            <select class="form-select" name="select-native-1" id="unit-select">
              <option value="1">Select Unit</option>
            </select>
            <br>
            <label for="type-select" class="select ui-select">Expense Type:</label>
            <select class="form-select" name="select-native-1" id="type-select">
              <option value="1">Select Expense Type</option>
            </select>
            <br>
            <label for="method-select" class="select ui-select">Payment Method:</label>
            <select class="form-select" name="select-native-1" id="method-select">
              <option value="1">Select Payment Method</option>
            </select>
          </form>
          <br>
          <form>
            <label for="pay-amount-text">Pay Amount:</label>
            <input type="number" class="form-control input-sm" name="pay-amount-text" id="pay-amount-text" value="">
            <br>
            <label for="pay-to-text">Pay To:</label>
            <input type="text" class="form-control input-sm" name="pay-to-text" id="pay-to-text" value="">
            <br>
            <label for="pay-desc-text">Description:</label>
            <textarea class="form-control input-sm" name="pay-desc-text" id="pay-desc-text"></textarea>
          </form>
          <br>
          <span data-feather="calendar"></span>
          <label for="expense-date">Expense Date:</label>
          <input type="text" class="form-control input-sm" data-role="date" id="expense-date">
          <br>
          <form id="file-upload-form" enctype="multipart/form-data">
            <label><span data-feather="image"></span>&nbsp;Upload Photo Copy of Receipt:</label>
            <input type="file" class="form-control input-sm" id="file-select" name="receipt" accept="image/*">
            <br>
            <input type="button" class="btn btn-sm btn-outline-secondary" id="upload-button" data-icon="action" value="Upload Receipt">
            <div class="d-none spinner-border spinner-border-sm" id="spinner" role="status">
            </div>
          </form>
          <input type="hidden" id="uploaded" value="">
          <br>
          <div align="right">
            <button id="submit-button" class="btn btn-sm btn-outline-primary">Submit</button>
          </div>
          <br>
          <hr>
          <br>
          <h1 class="h5">Selects Dates To Review Expenses</h1>
          <span data-feather="calendar"></span>
          <label for="start-date">Start Date:</label>
          <input type="text" class="form-control input-sm" data-role="date" id="start-date">
          <br>
          <span data-feather="calendar"></span>
          <label for="end-date">End Date:</label>
          <input type="text" class="form-control input-sm" data-role="date" id="end-date">
          <br>
          <br>
          <!-- <button id="apply-dates-button" class="btn btn-sm btn-outline-primary">Apply Dates</button> -->
          <div align="right">
            <button id="apply-dates-button" class="btn btn-sm btn-outline-primary">Apply Dates</button>
          </div>
          <br>
          <table>
            <tr>
              <td><br><br></td>
            </tr>
            <tr>
              <td><button id="edit-button" class="btn btn-sm btn-outline-secondary"><span data-feather="edit-2"></span>&nbsp;Edit Selected</button></td>
              <td><button id="delete-button" class="btn btn-sm btn-outline-secondary"><span data-feather="delete"></span>&nbsp;Delete Selected</button></td>
            </tr>
          </table>
          <br>
          <table id="expenses" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
            <thead>
              <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>Id</th>
                <th>PropertyAddres</th>
                <th>ProptertyUnit</th>
                <th>PropertyCity</th>
                <th>PayMethod</th>
                <th>PayAccount</th>
                <th>PayTo</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Time</th>
                <th>Receipt</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Id</th>
                <th>PropertyAddres</th>
                <th>PropertyUnit</th>
                <th>PropertyCity</th>
                <th>PayMethod</th>
                <th>PayAccount</th>
                <th>PayTo</th>
                <th>Description</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Time</th>
                <th>Receipt</th>
              </tr>
            </tfoot>
          </table>
          <br><br>
        </main>
      </div>
      <%- include('footer'); -%>
    </div>
  </body>
</html>
