<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
    <meta name="csrf-token" content=<%= csrfToken %>>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/import-manager.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container-fluid">
      <div class="row">
        <%- include('panel'); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4"><%= title %></h1>
          <br>
          <form id="file-upload-form" enctype="multipart/form-data">
            <label for="method-select" class="select ui-select">Payment Method:</label>
            <select class="form-select" name="select-native-1" id="method-select">
              <option value="1">Select Payment Method</option>
            </select>
            <br>
            <label for="file-select">Upload Statement:</label>
            <input type="file" class="form-control input-sm" id="file-select" name="statement" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <br>
            <input type="button" class="btn btn-sm btn-outline-secondary" id="upload-button" data-icon="action" value="Upload Statement">
          </form>
          <input type="hidden" id="uploaded" value="">
          <div align="center">
            <p><font color="black"><%= message %></font></p>
            <p><font color="red"><%= error_message %></font></p>
          </div>
          <br>
          <hr>
          <br>
          <label for="filter-column-number">Filter Column Number:</label>
          <input type="number" class="form-control input-sm" name="filter-column-number" id="filter-column-number" value="">
          <br>
          <label for="filter-keyword-text">Filter Keyword (comma separate - Sale,Return):</label>
          <input type="text" class="form-control input-sm" name="filter-keyword-text" id="filter-keyword-text" value="">
          <br>
          <label for="date-column-number">Date Column Number:</label>
          <input type="number" class="form-control input-sm" name="date-column-number" id="date-column-number" value="">
          <br>
          <label for="date-format-text">Date Format (MM/DD/YYYY):</label>
          <input type="text" class="form-control input-sm" name="date-format-text" id="date-format-text" value="">
          <br>
          <label for="pay-to-column-number">PayTo Column:</label>
          <input type="number" class="form-control input-sm" name="pay-to-column-number" id="pay-to-column-number" value="">
          <br>
          <label for="amount-column-number">Amount Column:</label>
          <input type="number" class="form-control input-sm" name="amount-column-number" id="amount-column-number" value="">
          <br>
          <label for="category-column-number">Category Column:</label>
          <input type="number" class="form-control input-sm" name="category-column-number" id="category-column-number" value="">
          <br>
          <label for="description-column-number">Description Column:</label>
          <input type="number" class="form-control input-sm" name="description-column-number" id="description-column-number" value="">
          <br><br>
          <form align="right">
            <button id="submit-button" class="btn btn-sm btn-outline-primary">Submit</button>
          </form>
          <br>
          <hr>
          <br>
          <button id="edit-button" class="btn btn-sm btn-outline-secondary"><span data-feather="edit-2"></span>&nbsp;Edit Selected</button>
          <button id="delete-button" class="btn btn-sm btn-outline-secondary"><span data-feather="delete"></span>&nbsp;Delete Selected</button>
          <br><br>
          <table id="configs" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
            <thead>
              <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>Id</th>
                <th>FilterColumn</th>
                <th>FilterKeyword</th>
                <th>DateColumn</th>
                <th>DateFormat</th>
                <th>PayToColumn</th>
                <th>AmountColumn</th>
                <th>CategoryColumn</th>
                <th>DescriptionColumn</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Id</th>
                <th>FilterColumn</th>
                <th>FilterKeyword</th>
                <th>DateColumn</th>
                <th>DateFormat</th>
                <th>PayToColumn</th>
                <th>AmountColumn</th>
                <th>CategoryColumn</th>
                <th>DescriptionColumn</th>
              </tr>
            </tfoot>
          </table>
          <br><br>
        </main>
      </div>
      <%- include('footer'); -%>
    </div>
  </body>
</html>
