<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
    <!-- <script type="text/javascript" src="/javascripts/commons.js"></script> -->
    <style>
       #download-report { display: none; }
    </style>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container-fluid">
      <script>
      function expenseByType() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses/types?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            var ctx = document.getElementById('chartByType').getContext('2d');
            window.chartByType = new Chart(ctx,{
              type: 'doughnut',
              data: data,
              options: {
                title: {
                   display: true,
                   text: 'Expense By Type'
                },
                legend: {
                  display: true,
                }
              }
            });
        });
      }

      function expenseByUnit() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses/units?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            var ctx = document.getElementById('chartByUnit').getContext('2d');
            window.chartByUnit = new Chart(ctx,{
              type: 'doughnut',
              data: data,
              options: {
                title: {
                   display: true,
                   text: 'Expense By Unit'
                }
              }
            });
        });
      }

      function expenseByTime() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses/times?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            var ctx = document.getElementById('chartByTime').getContext('2d');
            window.chartByMonth = new Chart(ctx,{
              type: 'bar',
              data: data,
              options: {
                title: {
                   display: true,
                   text: 'Expense By Month'
                },
                scales: {
                  xAxes: [
                    {
                      stacked: true,
                    }
                  ],
                  yAxes: [
                    {
                      stacked: true,
                      display: true,
                      type: 'linear',
                      ticks: {
                        beginAtZero: true
                      }
                    },
                    {
                      id: 'logarithmic',
                      stacked: false,
                      display: true,
                      type: 'logarithmic',
                      gridLines: {
                        color: 'rgba(54, 162, 235, 0.5)'
                      },
                      ticks: {
                        autoSkip: true,
                        // min: 0,
                        beginAtZero: true,
                        callback: function (value, index, values) {
                            if( value==100
                              || value==1000
                              || value==10000
                              || value==100000
                              || value==1000000) {
                                return value ;
                            }
                        }
                      }
                    }
                  ]
                }
              }
            });
        });
      }

      $(document).ready(function(){
        feather.replace()

        $('#nav-dashboard').addClass('active');
        $('#nav-expense').removeClass('active');
        $('#nav-import').removeClass('active');
        $('#nav-work').removeClass('active');
        $('#nav-vendor').removeClass('active');
        $('#nav-tenant').removeClass('active');
        $('#nav-property').removeClass('active');
        $('#nav-unit').removeClass('active');
        $('#nav-payment').removeClass('active');
        $('#nav-user').removeClass('active');

        $('#start-date' ).datepicker({
          onSelect: function (date, instance) {
          }
        });

        $('#end-date' ).datepicker({
          onSelect: function (date, instance) {
          }
        });

        $( "#start-date" ).datepicker( "setDate", new Date(new Date().getFullYear(), 0, 1));
        $( "#end-date" ).datepicker( "setDate", new Date());
        expenseByType();
        expenseByUnit();
        expenseByTime();
      });
      $(document).on('click', '#draw-button', function() {
        expenseByType();
        expenseByUnit();
        expenseByTime();
        $("html, body").animate({ scrollTop: 0 }, "slow");
      });
      $(document).on('click', '#generate-button', function() {
        var startDate = $('#start-date').datepicker("getDate");
        var endDate = $('#end-date').datepicker("getDate");
        $.get("/expenses?start="+ [startDate.getFullYear(), ( startDate.getMonth() + 1 ), startDate.getDate()].join("-")
            + "&end=" +[endDate.getFullYear(), ( endDate.getMonth() + 1 ), endDate.getDate()].join("-"),
          function(data, status){
            console.log(Object.keys(data.data[0]).join(","));
            var csv = Object.keys(data.data[0]).join(",") + '\n';

            data.data.forEach(function(row) {
              console.log(Object.values(row).join(","));
              var line = "";
              for (const [key, value] of Object.entries(row)) {
                  if(typeof(value) == "string") {
                    line += "\""+value+"\","
                  } else {
                    line += value+","
                  } 
              }
              csv += line + '\n';
            });
            csv = csv.replace('<mark>', '');
            csv = csv.replace('</mark>', '');

            var report = document.getElementById("download-report");
            report.style.display = "block";
            var file = new Blob([csv], {type: 'text/csv'});
            report.href = URL.createObjectURL(file);
            report.download = 'report.csv';
          });
      });
      </script>
      <div class="row">
        <%- include('panel'); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4">Dashboard</h1>
          <br><br>
          <canvas id="chartByType" width="50" height="50"></canvas>
          <br><br><br><br>
          <canvas id="chartByUnit" width="50" height="50"></canvas>
          <br><br><br><br>
          <canvas id="chartByTime" width="50" height="50"></canvas>
          <br><br><br><br>
          <h1 class="h5">Selects Dates To Review Expenses</h1>
          <span data-feather="calendar"></span>
          <label for="start-date">Start Date:</label>
          <input type="text" class="form-control input-sm" data-role="date" id="start-date">
          <br>
          <span data-feather="calendar"></span>
          <label for="end-date">End Date:</label>
          <input type="text" class="form-control input-sm" data-role="date" id="end-date">
          <br>
          <table>
            <tr>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" id="draw-button">Draw Charts</button></td>
              <td><button type="button" class="btn btn-sm btn-outline-secondary" id="generate-button">Generate Report</button></td>
              <td><a href="" id="download-report" download> Save Report To File </a></td>
            </tr>
          </table>
          <br><br><br><br>
          <div align="center">
            <p><font color="red"><%= message %></font></p>
          </div>
          <br><br>
        </main>
      </div>
      <%- include('footer'); -%>
    </div>
  </body>
</html>
