<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
    <meta name="csrf-token" content=<%= csrfToken %>>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/payment-manager.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container-fluid">
      <div class="row">
        <%- include('panel'); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4"><%= title %></h1>
          <br>
          <form>
            <label for="payment-type-select" class="select ui-select">Payment Type:</label>
            <select class="form-select" name="select-native-1" id="payment-type-select">
              <option value="1">Select Payment Type</option>
            </select>
          </form>
          <br>
          <form>
            <label for="account-number-text">Account Number:</label>
            <input type="text" class="form-control input-sm" name="account-number-text" id="account-number-text" value="">
            <br>
            <label for="description-text">Description:</label>
            <input type="text" class="form-control input-sm" name="description-text" id="description-text" value="">
          </form>
          <br><br>
          <form align="right">
            <button id="submit-button" class="btn btn-sm btn-outline-primary">Submit</button>
          </form>
          <br>
          <hr>
          <br>
          <button id="edit-button" class="btn btn-sm btn-outline-secondary"><span data-feather="edit-2"></span>&nbsp;Edit Selected</button>
          <button id="delete-button" class="btn btn-sm btn-outline-secondary"><span data-feather="delete"></span>&nbsp;Delete Selected</button>
          <br><br>
          <table id="methods" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
            <thead>
              <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>Id</th>
                <th>Type</th>
                <th>AccountNumber</th>
                <th>Description</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Id</th>
                <th>Type</th>
                <th>AccountNumber</th>
                <th>Description</th>
              </tr>
            </tfoot>
          </table>
          <br><br>
        </main>
      </div>
      <%- include('footer'); -%>
    </div>
  </body>
</html>
