<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
    <meta name="csrf-token" content=<%= csrfToken %>>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/property-manager.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container-fluid">
      <div class="row">
        <%- include('panel'); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4"><%= title %></h1>
          <br>
          <form>
            <label for="property-type-select" class="select ui-select">Property Type:</label>
            <select class="form-select" name="select-native-1" id="property-type-select">
              <option value="1">Select Property Type</option>
            </select>
          </form>
          <br>
          <form>
            <label for="address-street-text">Street:</label>
            <input type="text" class="form-control input-sm" name="address-street-text" id="address-street-text" value="">
            <br>
            <label for="address-city-text">City:</label>
            <input type="text" class="form-control input-sm" name="address-city-text" id="address-city-text" value="">
            <br>
            <label for="address-state-text">State:</label>
            <input type="text" class="form-control input-sm" name="address-state-text" id="address-state-text" value="">
            <br>
            <label for="address-zip-text">ZIP:</label>
            <input type="text" class="form-control input-sm" name="address-zip-text" id="address-zip-text" value="">
            <br>
            <label for="index-text">Index Number:</label>
            <input type="text" class="form-control input-sm" name="index-text" id="index-text" value="">
          </form>
          <br><br>
          <form align="right">
            <button id="submit-button" class="btn btn-sm btn-outline-primary">Submit</button>
          </form>
          <br>
          <hr>
          <br>
          <button id="edit-button" class="btn btn-sm btn-outline-secondary">Edit Selected</button>
          <button id="delete-button" class="btn btn-sm btn-outline-secondary">Delete Selected</button>
          <br><br>
          <table id="properties" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
            <thead>
              <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Type</th>
                <th>Index</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
                <th>Type</th>
                <th>Index</th>
              </tr>
            </tfoot>
          </table>
          <br><br>
        </main>
      </div>
      <%- include('footer'); -%>
    </div>
  </body>
</html>
