<!DOCTYPE html>
<html>
  <head>
    <%- include('head'); -%>
    <meta name="csrf-token" content=<%= csrfToken %>>
    <script type="text/javascript" src="/javascripts/commons.js"></script>
    <script type="text/javascript" src="/javascripts/vendor-manager.js"></script>
  </head>
  <body>
    <%- include('header'); -%>
    <div class="container-fluid">
      <div class="row">
        <%- include('panel'); -%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <br>
          <h1 class="h4"><%= title %></h1>
          <br>
          <form>
            <label for="name-text">Name:</label>
            <input type="text" class="form-control input-sm" name="name-text" id="name-text" value="">
            <br>
            <label for="phone-text">Phone:</label>
            <input type="text" class="form-control input-sm" name="phone-text" id="phone-text" value="">
            <br>
            <label for="email-text">Email:</label>
            <input type="text" class="form-control input-sm" name="email-text" id="email-text" value="">
            <br>
            <label for="category-text">Category:</label>
            <input type="text" class="form-control input-sm" name="category-text" id="category-text" value="">
            <br>
            <label for="note-text">Note:</label>
            <input type="text" class="form-control input-sm" name="note-text" id="note-text" value="">
            <br>
          </form>
          <br><br>
          <form align="right">
            <button id="submit-button" class="btn btn-sm btn-outline-primary">Submit</button>
          </form>
          <br>
          <hr>
          <br>
          <button id="edit-button" class="btn btn-sm btn-outline-secondary">Edit Selected</button>
          <button id="delete-button" class="btn btn-sm btn-outline-secondary">Delete Selected</button>
          <br><br>
          <table id="vendors" class="display" style="border-collapse:collapse;border-spacing:0;width:100%">
            <thead>
              <tr>
                <th><input name="select_all" value="1" type="checkbox"></th>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Category</th>
                <th>Note</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Category</th>
                <th>Note</th>
              </tr>
            </tfoot>
          </table>
          <br><br>
        </main>
      </div>
      <%- include('footer'); -%>
    </div>
  </body>
</html>
